.footer{
    background-color: #182430;
    color:white;
    // height:150px;
    width:100%;
}
.footer-top{
    display: flex;
    height:100px;
    padding-left:50px;
    // justify-content: center;
    align-items: center;

}
.footer-bottom{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    background-color: #10181F;
    height:30px;
    padding-left:50px;
    padding-bottom:20px;
}