@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#header{

    .header-container{
        background-color: #182430;
        font-family: roboto , Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        height: 70px;
        // min-height: 48px;

        .header-logo{
            width:100%;
            margin-left:2%;
            font-weight: bolder;
            font-size: 25px;
            color: #ffffff;
        }

        .header-links{
            
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: center;
            width:100%;
           

            .header-links-item{
                color: #ffffff;
                font-weight: lighter;
                margin-left: 2%;
                margin-right:2%;
                text-decoration: none;
                position: relative;
            }


            .header-links-item:before {
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #FFF;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
            }
            .header-links-item:hover:before {
                visibility: visible;
                transform: scaleX(1);
              }
        }
    }
   
}

.active{
    font-weight:  bolder !important;
    color: #ffffff !important;
}